body{
    background-color :#06113C ;
}

/* NAVBAR */
.navbar{
    padding-bottom: 0 0 4.5 rem;
    background-color: #BFCAF7;
}


.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    white-space: nowrap;
    color: slateblue;
}

.nav-item{
    padding: 0 18px;
    
}
.landing{
    background-color: #BFCAF7;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}

/* landing page */
.land-text{
    color : #fff;
    font-family: 'Rubik', sans-serif;
    padding-top: 7%;
}



.main-image{
    padding: 0% 0% 7.8% 0%;
}

h1,h3{
    padding: 3% 0% 0% 2%;
    color: darkblue;
    font-family: 'Rubik';
}

p {
    font-family: sans-serif;
    margin-right: 6%;
    color: slateblue;
    padding: 0% 0% 4% 2%;
}

/*Projects*/
.ph
{
    text-align: center;
    color: #fff;
    padding: 5% 0% 2% 2%;
    font-family: 'Rubik', sans-serif;
}

.resume-btn{
    margin: 0px;
    margin-left: 3%;
    size: 4%;
    background-color:  #BFCAF7;
    color: #06113C;
    font-size: 1.25rem;
    font-family: rubik;
}

.blink {
    animation: blink 0.5s infinite;
    color: #fff;
  }
  @keyframes blink{
    to { opacity: .0; }
  }
  .flex {
      display: flex;
  }
  .header-sub-title {
    color: #4A3FB9;
    font-family: "Rubik";
    font-size: 1.17em;
    padding: 0.1em;
    text-transform: uppercase;
    padding-left: 2%;
  }

/*ABOUT ME*/

.about-me{
    background-color: #06113C;
    padding-left: 12%;
    padding-top: 10%;
    height: 475px;
}

.selfimg{

    padding-left: 3%;
    padding-top: 1%;
}

hr{ 
    border: dotted #EAF6F6 6px;
    width: 4%;
    margin: 100px auto;
    border-bottom: none;

}

.custom-shape-divider-bottom-1650056934 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650056934 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1650056934 .shape-fill {
    fill: #06113C;
}

.skills{
    background-color: #06113C;
    height: 475px;
}

.skill-img{
    padding: 10% 0% 0% 13%;
}

h2{ 
    padding: 10% 40% 0% 0%;
    margin-left: 31%;
    text-align: left;
    color: #BFCAF7;
}

.progress{
    margin: 0% 0% 0% 31%;
    align-items: right;
}


.hp{
    color: #BFCAF7;
    text-align: center;
    padding-bottom: 5%;
}

.projects{
    background-color: #BFCAF7;
    margin-bottom: 5%;
}

.perpro{
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.pro-image{
    margin-left: 40%;
    margin-bottom: 7%;
}

.desc{
    margin-right: 20%;
    color: navy;
}

h5{ 
    color: #4A3FB9;
}


#project{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

.pro-h{
    color: #06113C;
    text-align: center;
    margin-top: -11%;
    margin-bottom:3%;
    padding-left: 10%;
    font-family: 'Rubik';
}

.card{
    background-color: #001E6C;
}

.card-header{
    color: white;
}

